<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">Agenda</a>

  <div class="navbar">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item mr-3">
        <a href="/contato/index" class="nav-link">Cadastrar contato</a>
      </li>

      <% if(user) { %>

      <li class="nav-item">
        <a href="/login/logout" class="nav-link mr-3">Sair</a>
      </li>

      <%} else{%>

      <li class="nav-item mr-3">
        <a href="/login/index" class="nav-link">Entrar</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
