<nav class="navbar navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Agenda</a>

  <div class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="nav-link">Entrar</a>
      </li>
    </ul>
  </div>
</nav>
